<h1>commande </h1>
<ul>
  <% unless  @orders.nil?%>
    <% @orders.each do |order|%>
      <h3>Commande n° <strong><%= order.id %></strong></h3>
      <li>
        <% order.items.each do |item| %>
          <p>Produit <strong><%= item.title %></strong>,    Prix <strong><%= item.price %>$</strong></p>
        <% end  %>
      </li>


    <% end %>

    <% else  %>

    <h3>Pas de commandes pour l'instant</h3>
  <% end  %>
</ul>
